@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  margin-bottom: 0;
}

.heading_container h2 span {
  color: #f0b311;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  
}

/*header section*/
.hero_area {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero_area .hero_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  z-index: -1;
}

.hero_area .hero_bg_box .bg_img_box {
  min-width: 100%;
  min-height: 100%;
}

.hero_area .hero_bg_box img {
  min-width: 100%;
  min-height: 100%;
}

.sub_page .hero_area {
  min-height: auto;
  background: linear-gradient(130deg, #231a6f, #0f054c);
}

.sub_page .hero_area .hero_bg_box {
  display: none;
}

.header_section {
  padding: 15px 0;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}

.navbar-logo {
  height: 50px; /* Ajusta la altura según sea necesario */
}

.navbar-logo-sprint {
  height: 30px; /* Ajusta la altura según sea necesario */
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #f0b311;
}

.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  font-weight: 600;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #ffffff;
}

.custom_nav-container .nav_search-btn:hover {
  color: #f0b311;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 5px 0 25px 0;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  color: #00204a;
}

.slider_section .detail-box h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #ffffff;
}

.slider_section .detail-box p {
  color: #fefefe;
  font-size: 14px;
}

.slider_section .detail-box ul {
  color: #fefefe;
  font-size: 14px;
}

.slider_section .detail-box li {
  color: #fefefe;
  font-size: 14px;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
  margin-top: 25px;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 165px;
}

.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #f0b311;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.slider_section .detail-box .btn-box .btn1:hover {
  background-color: #007fa4;
}

.slider_section .detail-box .btn-box .btn2 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.slider_section .detail-box .btn-box .btn2:hover {
  background-color: black;
}

.slider_section .img-box {
  margin: 45px 0;
}

.slider_section .img-box img {
  width: 100%;
  -webkit-animation: upDown 5s infinite;
          animation: upDown 5s infinite;
}

@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

@keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

.animated-img {
  width: 100%;
  -webkit-animation: upDown 5s infinite;
  animation: upDown 5s infinite;
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .carousel-indicators li {
  background-color: #0f054c;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #f0b311;
}

.sprint2_section {
  position: relative;
}

.sprint2_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 45px;
  background-color: #f8f8f9;
  padding: 20px;
  border-radius: 5px;
}

.sprint2_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 125px;
  min-width: 75px;
  height: 75px;
  margin-bottom: 15px;
}

.sprint2_section .box .img-box img {
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sprint2_section .box .detail-box h5 {
  font-weight: bold;
  text-transform: uppercase;
}

.sprint2_section .box .detail-box a {
  color: #00204a;
  font-weight: 600;
}

.sprint2_section .box .detail-box a:hover {
  color: #f0b311;
}

.sprint2_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.sprint2_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #f0b311;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.sprint2_section .btn-box a:hover {
  background-color: #007fa4;
}


.sprint2_section .heading_container {
  font-size: 16px;
}

.sprint2_section .heading_container a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
  opacity: 90%;
}

.sprint2_section .heading_container a:hover {
  color: #007fa4;
}


/*sprint2 section end*/

/*sprint1 section start*/

.sprint1_section {
  background-color: #00204a;
  color: #ffffff;
  padding-bottom: 0;
  padding-top: 45px;
}

.destacado {
  font-weight: bold; /* Esto asegura que el texto sea negrita */
  color: #f0b311; /* Establece el color del texto a amarillo */
}

.sprint1_section .heading_container {
  font-size: 16px;
}

.sprint1_section .heading_container a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
  opacity: 90%;
}

.sprint2_section .heading_container a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
  opacity: 90%;
}

.sprint1_section .heading_container a:hover {
  color: #007fa4;
}

/* Dropdown container */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f0b311;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #007fa4;
}

/* Show the dropdown menu on hover */
.dropbtn:hover + .dropdown-content {
  display: block;
}

/* To prevent dropdown from closing too quickly */
.dropbtn {
  cursor: pointer;
  position: relative;
  display: inline-block;
}


/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

.sprint1_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sprint1_section .img-box img {
  max-width: 100%;
}

.sprint1_section .detail-box h3 {
  font-weight: bold;
}

.sprint1_section .detail-box p {
  margin-top: 15px;
}

.sprint1_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #f0b311;
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}

.sprint1_section .detail-box a:hover {
  background-color: #007fa4;
}

.objective_section {
  background-color: #00204a;
  color: #ffffff;
}

.objective_section .heading_container {
  margin-bottom: 45px;
}

.objective_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.objective_section .img-box img {
  max-width: 100%;
}

.objective_section .detail-box h3 {
  font-weight: bold;
}

.objective_section .detail-box p {
  margin-top: 15px;
}

.objective_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #f0b311;
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}

.objective_section .detail-box a:hover {
  background-color: #007fa4;
}

.objective_section .table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.objective_section .table th,
.objective_section .table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.objective_section .table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.objective_section .table-bordered {
  border: 1px solid #dee2e6;
}

.objective_section .table-bordered th,
.objective_section .table-bordered td {
  border: 1px solid #dee2e6;
}

.objective_section .table-bordered thead th,
.objective_section .table-bordered thead td {
  border-bottom-width: 2px;
}

/*sprint1 section end*/

/*sprint3 section start*/

.sprint3_section .box {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.sprint3_section .box .img-box {
  margin-bottom: 20px;
  width: 120px;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
  border-radius: 100%;
  border: 5px solid #00204a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sprint3_section .box .img-box img {
  width: 55px;
  height: auto;
  fill: #00204a;
}

.sprint3_section .box h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

.sprint3_section .box p {
  margin-bottom: 0;
}

.sprint3_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.sprint3_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #f0b311;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.sprint3_section .btn-box a:hover {
  background-color: #007fa4;
}

/* Estilos para el indicador de scroll */
.scroll-indicator {
  position: absolute;
  bottom: 150px; /* Ajusta esta posición según sea necesario */
  left: 50%;
  transform: translateX(-50%);
  width: 35px;
  height: 56px;
  border-radius: 20px;
  border: 4px solid #f0b311; /* Cambia el color según sea necesario */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2px;
  opacity: 0;
  animation: fadeIn 2s ease-in-out 1s forwards; /* Animación de entrada */
  cursor: pointer; /* Indica que es clicable */
  text-decoration: none;
}

.scroll-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #f0b311; /* Cambia el color según sea necesario */
  animation: bounce 1.5s infinite;
}

/* Animación de rebote */
@keyframes bounce {
  0%, 100% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(35px);
  }
}

/* Animación para que el indicador aparezca suavemente */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}



/*team section */
.team_section {
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  padding-top: 45px;
}

.team_section .heading_container {
  justify-content: center;
}

.team_section .team_container {
  padding: 0 15px;
  flex-wrap: wrap;
}

.team_section .team_container .box {
  padding: 35px 0 0 0;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 45px;
  background: linear-gradient(to bottom, #f8f8f9, #f8f8f9);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Aplicar animaciones al hover en .box */
.team_section .team_container .box:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

/* Animación de la imagen dentro del box */
.team_section .team_container .box .img-box img {
  width: 200px;
  border: 5px solid #ffffff;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: transform 0.3s ease;
}

/* Imagen cambia con el hover del .box */
.team_section .team_container .box:hover .img-box img {
  transform: scale(1.05);
}

/* Animación del texto dentro del box */
.team_section .team_container .box .detail-box h5 {
  color: #f0b311;
  font-weight: 600;
  position: relative;
  transition: color 0.3s ease;
}

/* Texto cambia con el hover del .box */
.team_section .team_container .box:hover .detail-box h5 {
  color: #002b64;
}

.team_section h2 {
  text-align: center;
  background-color: #ffffff;
  color: #000000;
}

.team_section p {
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 5px;
  margin-top: 1px;
  transition: color 0.3s ease;
}

.team_section:hover p {
  color: #333;
}

/* Animación secuencial */
@keyframes slideIn {
  from {
    transform: scale(1); /* Estado inicial, sin escalado */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  to {
    transform: scale(1.05); /* Estado final, escalado */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  }
}

.box.slide-in {
  animation: slideIn 0.5s forwards; /* Duración de la animación */
  animation-fill-mode: backwards; /* Asegura que el estado final de la animación se mantenga */
}

.box:nth-child(1).slide-in { animation-delay: 0.6s; }
.box:nth-child(2).slide-in { animation-delay: 1.2s; }
.box:nth-child(3).slide-in { animation-delay: 1.8s; }
.box:nth-child(4).slide-in { animation-delay: 2.4s; }


/* Estilo y transición de los enlaces sociales */
.team_section .team_container .box .social_box {
  padding: 10px 45px 20px 45px;
  display: flex;
  justify-content: center;
}

.team_section .team_container .box .social_box a {
  color: linear-gradient(to bottom, #002759, #002b64);
  color: #002b64;
  font-size: 22px;
  transition: color 0.3s ease;
}

.team_section .team_container .box .social_box a:hover {
  color: #f0b311;
}

/*team section end*/

/* client section start */
.client_section .heading_container {
  margin-bottom: 30px;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
}

.client_section .box .img-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  margin-bottom: -50px;
  margin-left: 25px;
  position: relative;
}

.client_section .box .img-box img {
  border-radius: 100%;
}

.client_section .box .client_id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client_section .box .client_id .client_info h6 {
  font-weight: 600;
  margin-bottom: 5px;
}

.client_section .box .client_id .client_info p {
  margin-bottom: 0;
  font-size: 15px;
  font-size: 14px;
  margin-bottom: 10px;
}

.client_section .box .detail-box {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  padding: 75px 25px 25px 25px;
}

.client_section .box .detail-box i {
  color: #00204a;
  margin-bottom: 10px;
}

.client_section .owl-carousel .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.client_section .owl-carousel .owl-nav .owl-prev,
.client_section .owl-carousel .owl-nav .owl-next {
  width: 55px;
  height: 55px;
  background-color: #ffffff;
  color: #000000;
  outline: none;
  bottom: 0px;
  font-size: 24px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.client_section .owl-carousel .owl-nav .owl-prev:hover,
.client_section .owl-carousel .owl-nav .owl-next:hover {
  color: #00204a;
}

/* client section end */
.info_section {
  background-color: #00204a;
  color: #ffffff;
  padding: 45px 0 15px 0;
}

.info_section h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.info_section .info_col {
  margin-bottom: 30px;
}

.info_section .info_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_section .info_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.info_section .info_contact .contact_link_box a i {
  margin-right: 5px;
}

.info_section .info_contact .contact_link_box a:hover {
  color: #f0b311;
}

.info_section .info_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.info_section .info_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 24px;
}

.info_section .info_social a:hover {
  color: #f0b311;
}

.info_section .info_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info_section .info_links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  color: #ffffff;
}

.info_section .info_links a:hover {
  color: #f0b311;
}

.info_section form input {
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  width: 100%;
  height: 45px;
  color: #ffffff;
  outline: none;
}

.info_section form input::-webkit-input-placeholder {
  color: #ffffff;
}

.info_section form input:-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::placeholder {
  color: #ffffff;
}

.info_section form button {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 10px 55px;
  background-color: #f0b311;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}

.info_section form button:hover {
  background-color: #007fa4;
}

/* footer section*/
.footer_section {
  position: relative;
  background-color: #ffffff;
  text-align: center;
}

.footer_section p {
  color: #00204a;
  padding: 25px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}

/* Table Styles */
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  background-color: #f8f9fa;
  font-weight: 500;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
  scale: 1.03;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* Responsive Design */
@media (max-width: 768px) {
  .table-responsive {
    border: 0;
  }

  .table-responsive .table-bordered {
    border: 0;
  }

  .table-responsive .table-bordered th,
  .table-responsive .table-bordered td {
    border: 1px solid #dee2e6;
  }
}

/* Clase genérica para aplicar efecto hover */
.hover-effect {
  padding: 35px 0 0 0;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 45px;
  background: linear-gradient(to bottom, #f8f8f9, #f8f8f9);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.hover-effect h5 {
  transition: color 0.3s ease;
  color: black;
  font-weight: 600;
}

.hover-effect:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.hover-effect:hover h5 {
  color: #002b64;
}

.hover-effect .img-box img {
  transition: transform 0.3s ease;
}

.hover-effect:hover .img-box img {
  transform: scale(1.05);
}

.hover-effect .detail-box h5 {
  transition: color 0.3s ease;
  color: black;
  font-weight: 600;
}

.hover-effect:hover .detail-box h5 {
  color: #002b64;
}

.hover-effect p {
  transition: color 0.3s ease;
  color: #666;
}

.hover-effect:hover p {
  color: #333;
}

.hover-effect .social_box a {
  transition: color 0.3s ease;
  color: #002b64;
}

.hover-effect:hover .social_box a {
  color: #f0b311;
}

.hover-effect-img {
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.hover-effect-img:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}


/*# sourceMappingURL=style.css.map */